footer.footer
  .footer__logo 
    img(src='img/logo-green.png' alt='nataurs logo')
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Download Apps
    li: a(href='#') Beome A Guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy: by Subodh Adhikari